{% extends 'base.html' %}

{% block titulo %}Fluxo de Caixa{% endblock titulo %}

{% block conteudo %}
<script type="text/javascript">
  $(function() {
    $('#datetimepicker1').datetimepicker({
      language: 'pt-BR'
    });
  });
</script>

<div class="container">
<form class="form-horizontal" action="/caixas/fluxo/" method="POST" role="form">{% csrf_token %}
			<div class="col-sm-4">
				<p>&nbsp;
				{% from datetime import date%}
				{% today = date.today()%}
				{% print "A data de hoje é %s" % today%}</p>
				<p>&nbsp;</p>
			</div>
            <div class="col-sm-4">
                <label for="datetimepicker"><b>Selecione a data inicial</b></label>
                <p class="visible-print">{{ dataInicial|date:"d/m/Y H:i:s" }}</p>
                <div id="datetimepicker" class="input-group date hidden-print">
                   <input type="text" class="form-control" name="dataInicial" value="{{ dataInicial|date:"d/m/Y" }}" placeholder="01/01/2014">
                     
                    <span class="input-group-addon add-on glyphicon glyphicon-calendar"></span>
                </div>
            </div>
            <div class="col-sm-4">
                <label for="datetimepicker" class=""><b>Selecione a data final</b></label>
                <p class="visible-print">{{ dataFinal|date:"d/m/Y H:i:s" }}</p>
                <div id="datetimepicker1" class="input-group date hidden-print">
                    <input type="text" class="form-control" name="dataFinal" value="{{ dataFinal|date:"d/m/Y" }}" placeholder="01/01/2014">
                    <span class="input-group-addon add-on glyphicon glyphicon-calendar"></span>
                </div>
            </div>

            <div class="col-md-1">
                <br />
                <button type="submit" class="btn btn-primary hidden-print"><span class="glyphicon glyphicon-search"></span></button>
            </div>
</form>
</div>

<hr>
<div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Pessoa</th>
            <th>R$</th>
            <th>Descrição</th>
            <th>Data</th>
            <th>Tipo</th>
          </tr>
        </thead>
        <tbody>
        {% for conta in contas %}
          <tr>
            <td>{{ conta.pessoa.nome }}</td>
            <td>{{ conta.valor }}</td>
            <td>{{ conta.descricao }}</td>
            <td>{{ conta.data|date:"d/m/Y" }}</td>
            <td>{{ conta.tipo }}</td>
          </tr>
        {% endfor %}
        </tbody>
        {% if total != NULL and contas|length > 0 %}
        <tfoot>
         <tr class="success">
            <th>TOTAL:</th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{ total }}</th>
        </tr>
        </tfoot>
        {% endif %}
      </table>
</div><!-- FIM TABELA -->
{% if total != NULL and contas|length > 0 %}
 <button type="submit" onClick="window.print()" class="btn btn-info col-md-offset-11 col-sm-1 hidden-print">Print</button>
{% endif %}

{% endblock conteudo %}
