{% extends 'base.html' %}

{% block titulo %}Fluxo de Caixa{% endblock titulo %}

{% block conteudo %}
<div class="container">
<form class="form-horizontal" action="/fluxo/" method="POST" role="form">{% csrf_token %}

            <div class="col-sm-4">
                <label for="datetimepicker"><b>Data Inicial</b></label>
                <p class="visible-print">{{ data_inicial|date:"d/m/Y H:i:s" }}</p>
                <div class="datetimepicker" class="input-group date hidden-print">
                    <input type="text" name="Inicial" value='{{ data_inicial|date:"d/m/Y H:i:s" }}' class="form-control">
                    <span class="add-on">
                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                    </span>
                </div>
            </div>
            <div class="col-sm-4">
                <label for="datetimepicker" class=""><b>Data Final</b></label>
                <p class="visible-print">{{ data_final|date:"d/m/Y H:i:s" }}</p>
                <div class="datetimepicker" class="input-group date hidden-print">
                    <input type="text" name="Final" value='{{ data_final|date:"d/m/Y H:i:s" }}' class="form-control">
                    <span class="add-on">
                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                    </span>
                </div>
            </div>

            <div class="col-md-1">
                <br />
                <button type="submit" class="btn btn-primary hidden-print"><span class="glyphicon glyphicon-search"></span></button>
            </div>
</form>
</div>

<hr>
{% if contas %}
<div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Pessoa</th>
            <th>R$</th>
            <th>Descrição</th>
            <th>Data</th>
            <th>Tipo</th>
          </tr>
        </thead>
        <tbody>
        {% for conta in contas %}
          <tr>
            <td><a href="/caixas/editar/{{ conta.pk }}">{{ conta.pessoa.nome }}</a></td>
            <td>{{ conta.valor }}</td>
            <td>{{ conta.descricao }}</td>
            <td>{{ conta.data|date:"d/m/Y" }}</td>
            <td>{{ conta.tipo }}</td>
          </tr>
        {% endfor %}
        </tbody>
        {% if somaTotal != NULL and contas|length > 0 %}
        <tfoot>
         <tr class="success">
            <th>TOTAL:</th>
            <th>{{ somaTotal }}</th>
            <th></th>
            <th></th>
            <th></th>
            
        </tr>
        </tfoot>
        {% endif %}
      </table>
</div><!-- FIM TABELA -->
{% if somaTotal != NULL and contas|length > 0 %}
 <button type="submit" onClick="window.print()" class="btn btn-info col-md-offset-5 col-sm-2 hidden-print">Imprimir</button>
{% endif %}

{% else  %}
<p>
Registro nao encontrado
</p>
{% endif %}

{% endblock conteudo %}